In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from rapidfuzz import process
import pickle

In [67]:
# Cargar el archivo
ruta_archivo = r"D:\Maestria\CLASES\TFE\DATOS_LIGA_COLOMBIANA.xlsx"

In [68]:
# Variable data set
df = pd.read_excel(ruta_archivo)

In [69]:
# Mostrar los datos iniciales
df.head(3000)

,TORNEO,SEMESTRE,RONDA,FECHA_TORNEO,EQUIPO_LOCAL,EQUIPO_VISITANTE,GOLES_LOCAL,GOLES_VISITANTE,RESULTADO
0,2021,1,INICIAL,1,MILLONARIOS,ENVIGADO,1,0,LOCAL
1,2021,1,INICIAL,1,JUNIOR,MEDELLIN,1,0,LOCAL
2,2021,1,INICIAL,1,PASTO,EQUIDAD,2,2,EMPATE
3,2021,1,INICIAL,1,NACIONAL,SANTA FE,2,0,LOCAL
4,2021,1,INICIAL,1,CALI,JAGUARES,1,0,LOCAL
...,...,...,...,...,...,...,...,...,...
2188,2025,2,CUADRANGULARES,1,MEDELLIN,AMERICA,1,1,EMPATE
2189,2025,2,CUADRANGULARES,1,FORTALEZA,SANTA FE,1,2,VISITANTE
2190,2025,2,CUADRANGULARES,1,BUCARAMANGA,TOLIMA,0,0,EMPATE
2191,2025,2,CUADRANGULARES,1,NACIONAL,MEDELLIN,2,1,LOCAL
2192,2025,2,CUADRANGULARES,1,JUNIOR,AMERICA,2,1,LOCAL

In [70]:
# Revisar estructura inicial
print(df.shape)       # filas y columnas
print(df.columns)     # nombres de columnas

(2193, 9)
Index(['TORNEO', 'SEMESTRE', 'RONDA', 'FECHA_TORNEO', 'EQUIPO_LOCAL',
       'EQUIPO_VISITANTE', 'GOLES_LOCAL', 'GOLES_VISITANTE', 'RESULTADO'],
      dtype='object')

In [71]:
# Estandarizar nombres de columnas (minúsculas y sin espacios)
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [72]:
# Identificar tipos de variables
print(df.dtypes)

torneo               int64
semestre             int64
ronda               object
fecha_torneo         int64
equipo_local        object
equipo_visitante    object
goles_local          int64
goles_visitante      int64
resultado           object
dtype: object

In [73]:
# Detectar valores nulos
print(df.isnull().sum())
print(df[df.isnull().any(axis=1)])

torneo              0
semestre            0
ronda               0
fecha_torneo        0
equipo_local        0
equipo_visitante    0
goles_local         0
goles_visitante     0
resultado           0
dtype: int64
Empty DataFrame
Columns: [torneo, semestre, ronda, fecha_torneo, equipo_local, equipo_visitante, goles_local, goles_visitante, resultado]
Index: []

In [74]:
# Eliminar registros que contienen al menos un valor nulo
df = df.dropna()

In [75]:
# Mostrar cantidad nueva de registros
print(df.shape)

(2193, 9)

In [76]:
# Identificar registros duplicados (duplicados completos)
duplicados = df[df.duplicated(keep=False)]

# Mostrar los registros duplicados
print("Registros duplicados encontrados:")
print(duplicados)

Registros duplicados encontrados:
Empty DataFrame
Columns: [torneo, semestre, ronda, fecha_torneo, equipo_local, equipo_visitante, goles_local, goles_visitante, resultado]
Index: []

In [77]:
# Estandarizar categorías
df['equipo_local'] = df['equipo_local'].str.strip().str.lower()
df['equipo_visitante'] = df['equipo_visitante'].str.strip().str.lower()

In [78]:
with open('df_guardado.pkl', 'wb') as f:
    pickle.dump(df, f)